.button{
    background: white;
    border: none;
    color: $primary_color;
    font-size: $font-size-large;
    font-weight: 550;
    border-radius: 7px;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 100%;
    height: $xl-size;
    display: inline-block;
}

.button--grey{
    @extend .button;

    background: $light-grey;
}

.button--link{
    background: none;
}
